* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #223F5C;
    color: whitesmoke;
}

body {
    background-color: #DDDDDC;
}

h2 {
    color: #223F5C;
}

h4{
    color: #E08f2c;
}
img {
    max-width: 200px;
    max-height: 300px;
    min-height: 300px;
    object-fit: contain;
}

.col {
    background-color: white;
}